@model MVC_Vaje202122_Priprava.Models.Kategorija

@{
    ViewData["Title"] = "UstvariZapis";
}

<h1>Ustvari zapis</h1>

<h4>Kategorija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            @* <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            *@

            <div class="form-group">
                <label asp-for="naziv" class="control-label"></label>
                <input asp-for="naziv" class="form-control" />
                <span asp-validation-for="naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vrstniRed" class="control-label"></label>
                <input asp-for="vrstniRed" class="form-control" />
                <span asp-validation-for="vrstniRed" class="text-danger"></span>
            </div>
            @*      <div class="form-group">
                    <label asp-for="ustvarjeno" class="control-label"></label>
                    <input asp-for="ustvarjeno" class="form-control" />
                    <span asp-validation-for="ustvarjeno" class="text-danger"></span>
                </div> *@
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />

            <a asp-action="Index" class="btn btn-secondary" style="width:200px">Nazaj na seznam</a>
        </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
